@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wnnt4l');
  src:  url('fonts/icomoon.eot?wnnt4l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wnnt4l') format('truetype'),
    url('fonts/icomoon.woff?wnnt4l') format('woff'),
    url('fonts/icomoon.svg?wnnt4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-filter_none:before {
  content: "\e3e0";
}
.icon-star:before {
  content: "\e838";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-screen_rotation:before {
  content: "\e1c1";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
