/*PROGRESS BAR*/
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #000;
}

.progress-bar-line {
    height:100%;
    transition: width 1s ease-in-out;
    display: block;
    background: #59ebdf; /* Old browsers */
    background: -webkit-linear-gradient(left, #59ebdf 0%, #6f6bcd 100%);
    background: -moz-linear-gradient(left, #59ebdf 0%, #6f6bcd 100%);
    background: -o-linear-gradient(left, #59ebdf 0%, #6f6bcd 100%);
    background: linear-gradient(to right, #59ebdf 0%, #6f6bcd 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ebdf', endColorstr='#6f6bcd',GradientType=1 ); /* IE6-9 */
}