#presentation {
    padding: 0;
}

#presentation>section {
    color: #2b2b2b;
}

a {
    color: #0CF;
}

section > .slide {
    padding: 0px 20px;
    font-size: 14px;
    overflow: visible;
}

.slide h1 {
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
}

.slide h1::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 30px;
    background-color: #0CF;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}

h2.green {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0px;
    color: #25daa0;
}

.container {
    width: 100%;
}


nav.side {
    z-index: 10;
}

.progress-bar-line {
    background: #0CF;
}

a.control {
    background-color: #25daa0;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

a.control .icon {
    position: static;
    line-height: 60px;
    font-size: 8px;
}

a.next {
    left: calc(50% - 50px);
    top: auto;
    bottom: 75px;
    right: auto;
    transform: translateX(-50%);
}

a.next::after, a.prev::after {
    position: absolute;
    content: '';
    height: 75px;
    background-color: #acacac;
    width: 1px;
    left:50%;
    top: 60px;
    transform: translateX(-50%);
}

a.prev {
    left: calc(50% + 50px);
    top: auto;
    bottom: 75px;
    right: auto;
    transform: translateX(-50%);
}

nav.side li {
    background-color: rgba(37,218,160,0.35);
}

nav.side li.active, nav.side li:hover {
    background-color: #25daa0;

}

nav.side li.active:not(:last-child)>a::after, nav.side li.active:not(:last-child)>a::before {
    background-color: #acacac;
}

nav.side li.active:not(:first-child)>a::before {
    background-color: #acacac;
}

nav.side li.active>a {
    color: #fff;
}

a.btn {
    background: #0CF;
    border-radius: 0;
    font-size: 18px;
    padding: 25px;
}

.row-foot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select2 {
    margin: 2px 0;

}

.select2-container .select2-selection {
    height: 40px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #c5c5c5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #25daa0;
}

.specializace, .fakulta, .profese, .odbornost, .law2 {
    display: none;
}

.progress-bar {
    position: fixed;
}

.icheckbox_square {
    margin-right:5px;
}

.tooltip {
    min-width: 400px;background-color:#000;color:#fff;
}

.tooltip::after {
    border-color: #000 transparent;
}

input {
    font-size:14px;
}

.col, [class|="col"]  {
    padding: 0px;
    padding-right: 5px;
}

input, textarea, select {
    margin: 2px auto;
}