@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    @apply bg-gray-200;
}

body {
    @apply font-roboto;
}

nav li {
    background-image:url(../img/tecky.gif);
    @apply bg-no-repeat bg-right-bottom
}

@layer components {
    .qoutes {
        @apply relative text-3xl px-12 mb-8;

        &::before {
            content: '';
            background: url(../img/quotes-left-blue.png) no-repeat;
            width: 40px;
            height: 28px;
            bottom: 0;
            left: 0;
            @apply absolute block bg-cover
        }

        &::after {
            content: '';
            background: url(../img/quotes-right-green.png) no-repeat;
            width: 40px;
            height: 28px;
            top: 0;
            right: 0;
            @apply absolute block bg-cover
        }
    }
}

.dialog {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.avatar {
    width: 60px;
    @apply flex-shrink-0
}

.dialog-left {
    background-image: url(../img/white-comment-bubble-left.png);
    @apply font-bold p-8 pl-16
}

.dialog-right {
    background-image: url(../img/white-comment-bubble-right.png);
    @apply p-8 pr-16
}

.bg-drugs {
    background-image: url(../img/item01.jpg);
    @apply bg-no-repeat bg-cover
}

.bg-partners {
    background-image: url(../img/item02.jpg);
    @apply bg-no-repeat bg-cover
}

.bg-products {
    background-image: url(../img/item03.jpg);
    @apply bg-no-repeat bg-cover
}

.bg-contract {
    background-image: url(../img/item04.jpg);
    @apply bg-no-repeat bg-cover
}

@media (min-width: 640px) {
    .sm\:flex-important {
        display: flex !important;
    }
}