Setenv APPLICATION_ENV production

# Projects for GSK - presentation running on foreign webservers
#Header add Access-Control-Allow-Origin *
#Header add Access-Control-Allow-Credentials true

# Setenv PHC_LEGACY_PATH /home/lekarnik/php-include2/

<IfModule mod_php5.c>
    php_flag magic_quotes_gpc off
    php_flag register_globals off
    php_value upload_max_filesize 1000M
    php_value post_max_size 1000M
    php_value max_execution_time 600
    php_value memory_limit 256M
    php_value session.cookie_path /gdpr/
</IfModule>

<IfModule mod_php.c>
    php_flag magic_quotes_gpc off
    php_flag register_globals off
    php_value upload_max_filesize 1000M
    php_value post_max_size 1000M
    php_value max_execution_time 600
    php_value memory_limit 256M
    php_value session.cookie_path /gdpr/
</IfModule>

Options +FollowSymlinks

RewriteEngine on
RewriteBase /gdpr/

# P3P policy for IE and iframe
# Toto je obecna a nespravna policy, mozna by se mela nagenervat nejaka spravnejsi
#Header add P3P "CP=\"IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT\""

# crossdomain.xml
RewriteRule crossdomain\.xml$ crossdomain.xml [L]

# robots.txt
RewriteRule robots\.txt$ robots.txt [L]

# favicon.ico
RewriteRule favicon\.ico$ favicon.ico [L]

# relative static content rewrite
RewriteCond %{REQUEST_URI} !^/gdpr/pub/(img|css|scripts|mails|others|content|skins|resources)/
RewriteRule pub/(img|css|scripts|mails|others|content|skins|resources)/(.*)$ pub/$1/$2 [L]

# add trailing slash if not file, index.php or already has one, and redirect
RewriteCond %{REQUEST_METHOD}  !=POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

# exclude static files and finish to index.php
# !\.(js|ico|gif|jpg|png|css|htc|html|swf|flv)$
RewriteRule ^.*$ index.php [L]
