/*
 * http://basicuse.net/articles/pl/textile/html_css/resizing_youtube_and_html5_videos_proportionally_using_css_for_responsive_web_design
 *
 * <div class="video-responsive"><iframe width=640" height="480 url="youtube" ...></div>
 */

.video-responsive {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}