/*
    CSS měnící styl datagridu prizpusobeny pro iPad
    Created on : 25.11.2015, 1:04:07
    Author     : Ondra Bláha <ondra@blahait.cz>
*/

.datagrid {
    font-size:14px;
}

.datagrid input[type=text] {
    height: 26px;
    line-height: 26px;
    font-size:14px;
}

.datagrid tbody tr td {
 padding: 8px;
}

.datagrid td.action img {
    padding:0px 10px;
}