
#flashcontent ul{margin:auto; padding:20px; font-size:12px; color:#ccc; width:400px; height:150px; padding-top:200px;}
#flashcontent ul a{color:#fff;font-weight:bold;}
#flashcontent ul a:hover{color:#fff;text-decoration:none;}
