/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	/*width: 100%;*/
	text-align: left;
	border-spacing: 1px;
}
table.tablesorter td {
	padding: 0px;
    border: solid 1px #ccc;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th, table.tablesorter th, table.tablesorter tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;   
	padding-right:17px;
    border: solid 1px #ccc;
}
table.tablesorter thead tr .header, 
table.tablesorter .tablesorter-header {
		background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp,
table.tablesorter th.tablesorter-headerSortUp {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter th.tablesorter-headerSortDown  {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter dd {
    margin-left: 0px;
}
table.tablesorter dd input { 
    width:100%; 
    border:0;    
}

table.tablesorter tr.filter td:first-child {
    padding:4px ;
    text-transform: lowercase; 
    font-weight:bold;
    background-color: #E6EEEE;
}

/* PHC Highlighted rows*/
table.tablesorter tbody tr.highlight td {
    background-color:#F8E9BB;
}
table.tablesorter tbody tr.odd.highlight td {
    background-color:#F5D38B;
}
table.tablesorter tbody tr.highlight1 td {
    background-color:#0082cc; color:#FFFFFF; 
}
table.tablesorter tbody tr.odd.highlight1 td {
    background-color:#0047cc; color:#FFFFFF; 
}


/* PHC tfoot*/
table.tablesorter tfoot td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #BdBdBd;
    vertical-align: top;
}
